@charset "utf-8";
/* CSS Document */

body {
  padding-top: 50px;
  background-color:#f7f7f7;
  font-family: 'Ubuntu', arial, sans-serif !important;
  color:#444444;
}

.navbar-sp {
	background-color:#c52128;
	border:none;
	padding:10px 0;
}

#Wall .navbar-sp img, #viewPost .navbar-sp img, #Tagview-page .navbar-sp img {
	margin:0 auto;
	margin-top:2px;
}
.navbar-btn-menu {
	float:left;
	border:none !important;
	padding:9px 10px;
}

.navbar-btn-menu:hover {
	background-color:transparent !important;
}
.navbar-sp a {
	display:block;
	padding:0 0 0 6px;
}

/*presets*/
.nopadding {
	padding-left:0px;
	padding-right:0px;
}
.nopadding-left {
    padding-left:0px;
}
.nopadding-right {
    padding-right:0px;
}
.mtop5 {
	margin-top:5px;
}
.mtop10 {
	margin-top:10px;
}
.mtop15 {
	margin-top:15px;
}
.mtop20 {
	margin-top:20px;
}
.mtop30{
	margin-top:30px;
}

.mbottom5 {
	margin-bottom:5px;
}
.mbottom10 {
	margin-bottom:10px;
}
.mbottom15 {
	margin-bottom:15px;
}
.mbottom20 {
	margin-bottom:20px;
}
.mbottom30{
	margin-bottom:30px;
}


.mleft5 {
	margin-left:5px;
}
.mleft10 {
	margin-left:10px;
}
.mleft20 {
	margin-left:20px;
}
.mleft30{
	margin-left:30px;
}
.mleft50{
	margin-left:50px;
}
.mleft55{
	margin-left:55px;
}
.mright5 {
	margin-right:5px;
}
.mright10 {
	margin-right:10px;
}
.mright20 {
	margin-right:20px;
}
.mright30{
	margin-right:30px;
}
.pbottom5 {
	padding-bottom:5px;
}

.txt-center {
	text-align:center;
}


.favorite-bar {
	background-color:#ffffff;
	height:30px;
	width:100%;
	padding:4px 0;
}
.favorite-bar a{
	text-align:center;
	width:20px;
	height:auto;
	margin:0 auto;
	display:block;
	font-size:20px;
	color:#c5c5c5;
}

.favorite-bar a:hover{
	color:#c52128;
}

.wall-post-box {
	border-radius:8px;
	border:1px solid #e8e8e8;
	width:100%;
	background-color:#ffffff;
	min-height:120px;
	overflow:hidden;
	padding:4px;
	margin-top:10px;
	
}
.wall-post-box:hover, .wall-post-box:active, .wall-post-box:focus {
	background-color:#f9f9f9;
	border:1px solid #bbbbbb;
}
.wall-post-box-wrap {
	position:relative;

	width:100%;
	//background-color:#ffffff;
	height:auto;
	overflow:hidden;
	padding:4px;
	//margin-top:10px;
	
}

#Wall .profile-pic-wrap {
	width:42px;
	height:42px;
	position:absolute;
	top:0px;
	left:13px;
	float:left;
}

#Wall .profilepic-placeholder, #viewPost #toppanel .profilepic-placeholder, #Profile .profilepic-placeholder, #Wall .comments .profilepic-placeholder, #addPost .dropdown-toggle .profilepic-placeholder, #addPost .dropdown-menu .profilepic-placeholder, #viewPost .dropdown-menu .profilepic-placeholder,
#viewPost .dropdown-toggle .profilepic-placeholder, #viewPost #comments .profilepic-placeholder
  {

   background-color: #ffffff;
   border-radius: 100%;
   border: 1px solid #e8e8e8;
   text-align: center;
   font-weight: bold;
   padding: 9px 0;
   font-size: 16px;
   letter-spacing: 0px; 
   text-transform:uppercase;
   color:#bbbbbb;
 }
 
  #viewPost #comments .profilepic-placeholder {
	  width:30px;
	  height:30px;
	  padding: 6px 0;
	 display:inline-block;
	 font-size:12px;
  }
    #viewPost #comments .profilepic-placeholder img {
	width:24px !important;
	height:24px !important;
	margin-top:-4px;	
	
	}
	#viewPost #comments .profilepic-placeholder img:hover, #viewPost #comments .profilepic-placeholder img:active  {
		border:1px solid transparent !important;
	}
	
 
 #addPost .dropdown-toggle .profilepic-placeholder, #viewPost .dropdown-toggle .profilepic-placeholder  {
	 width:22px;
	 height:22px;
	 font-size:10px;
	 padding: 4px 0;
	 display:inline-block;
 }
  #addPost .dropdown-menu .profilepic-placeholder, #viewPost .dropdown-menu .profilepic-placeholder  {
	 width:30px;
	 height:30px;
	 font-size:13px;
	 display:inline-block;
	 padding:5px 0;
 }
 #Wall .comments .profilepic-placeholder {
	 width:24px;
	 height:24px;
	 font-size:12px;
	 display:inline-block;
     position: relative;
	 top: 1px;
     padding: 5px 0;
     font-size: 10px;
 }
 
  #Wall .comments .profilepic-placeholder img {
	  width:16px;
	  height:16px;
	  position:relative;
	  top:0;
  }
 
 #Profile .profilepic-placeholder {
	 width:95px;
	 height:95px;
	 margin:0 auto;
	 margin-top:20px;
	 padding: 25px 0;
	 font-size:30px;
	 
 }
 #viewPost #toppanel .profilepic-placeholder {
	font-size:13px; 
	 padding: 6px 0;
	  }
 
 
 #Wall .profilepic-placeholder img {
	 margin-top:-4px;
	 
 }
 #Wall .profilepic-img img,  #viewPost #toppanel .profilepic-img img,  #Profile .profilepic-img img, #viewPost .input-comment .dropdown-menu.profilepic-img img, #viewPost .input-comment .dropdown-toggle.profilepic-img img,
 #viewPost #comments .profilepic-img img
   {
	 border-radius:100%;
	 width:42px;
	 height:42px;
	 /*border: 1px solid #e8e8e8;*/
	 border:1px solid transparent;
 }

 #Profile .profilepic-img img {
	 width:95px;
	 height:95px;
	 border:none;
	 margin-top:20px;
	 
 }
 #addPost .dropdown-toggle.profilepic-img img {
	 width:22px;
	 height:22px;
	 border-radius:100%;
}
 
 #addPost .dropdown-menu.profilepic-img img,  #viewPost #comments .profilepic-img img {
	 width:30px;
	 height:30px;
	 border-radius:100%;
}
 
 #viewPost .input-comment .dropdown-menu.profilepic-img img {
     width:30px;
	 height:30px;
}
 #viewPost .input-comment .dropdown-toggle.profilepic-img img {
     width:22px;
	 height:22px;
}
 #viewPost .input-comment .dropdown-toggle.profilepic-img img:hover {
     border:1px solid transparent !important;
}
 
 #Wall .profilepic-img img:hover, .profilepic-img img:focus, .profilepic-img img:active {
	 border:1px solid #666666 !important;
 }
 #viewPost .profilepic-img img:hover, .profilepic-img img:focus, .profilepic-img img:active {
	 border:1px solid #666666 !important;
 }
 
 #viewPost #toppanel .profilepic-img img  {
	  width:30px;
	 height:30px;
	 }
 .profile-name {
	 color:#444444;
	 font-size:15px;
	 font-weight:bold;
 }
 #viewPost .profile-name {
	 margin-left:5px;
	 margin-top:5px;
 }
 
 #Wall .post-content img {
	 width:40px;
	 height:40px;
	 border-radius:5px;
 }
 
 #Wall hr {
	 margin-top:5px;
	 margin-bottom:5px;
 }
 
 #Wall ul.tags {
	 list-style-type:none;
	 margin:0px;
	 text-align:center;
	 padding:0px;
	 
 }
	 
 #Wall ul.tags li {
	 background-color:#f8f8f8;
	 border:1px solid #e8e8e8;
	 border-radius:8px;
	 padding:4px 8px;
	 color:#888888;
	 font-size:10px;
	 display:inline-block;
	 text-align:center;
	 margin:0 auto;
	 margin-bottom:4px;
 }
 
  #Wall ul.comments{
	 list-style-type:none;
	 margin:5px 0;
	 text-align:center;
	 padding:0px;
 }
 
 
 #Wall ul.comments li  {
	width:22px;
	height:22px;
	margin:0 auto;
	border-radius:100%;
	display:inline;
	margin-left:1px;
 }
	 

 #Wall ul.comments li img {
	 width:23px;
	 height:23px;
	 border-radius:100%;
	  border:1px solid transparent;
	
 }
  #Wall ul.comments li img:hover,  #Wall ul.comments li img:active, #Wall ul.comments li img:focus  {
	 border:1px solid #777777;
	
 }
  
 #Wall ul.comments li > span > img {
	 height:26px;
 }
 
  #Wall ul.comments li > span {
	 position:relative;
 }
 
  #Wall ul.comments li > span > span.count { 
  position:absolute;
  left:3px;
  font-size:12px;
  color:#888888;
  top:0px;
  }
  .time-style {
	  color:#aaaaaa;
	  font-style:italic;
	  font-size:10px;
  }
  
 #Wall .icon-counts span {
	 font-size:10px;
 }
 #Wall .search-bar {
	 background-color:#e5e5e5;
	 height:32px;
	 display:none;
	 
}
 #Wall .search-bar .search-ph {
	 padding-top:5px;
	 text-align:center;
	 display:block;
	 
 }
  #Wall .search-bar .search-textfield {
	 padding-top:5px;
	 display:none;
	 
 }
  .search-tf-style {
	 background-color:transparent;
	 border:none;
	 outline:none;
	 width:85%;
 }
 
 .search-bar .search-clear {
	 color:#999999;
	 float:right;
	 margin-top:4px;
 }
 .sp-spinner {
	 width:25px;
	 height:25px;
	 margin:0 auto;
	 font-size:18px;
	 margin-top:10px;
 }
 
 .loader1 {
	 width:60px;
	 height:60px;
	 font-size:36px;
	 margin:0 auto;
	 font-family:arial, sans-serif;
 }
 
 #Login .login-textfield,  #Signup .login-textfield,  #Reset .login-textfield {
	 border:none;
	 border-bottom:1px solid #e7e7e7;
	 background-color:transparent;
	 height:35px;
	 width:100%;
	 outline:none;
 }
 .btn-sp {
	 background-color:#c52128;
	 border-radius:0px;
	 border:none;
	 padding:10px 0;
 }
 
 
 #Login .social-btn-wrap {
	 width:288px;
	 height:auto;
	 margin:15px auto;
 }
 #Login a {
	 color:#555555;
 }
 
  #Login .social-btn-wrap  a{ 
  text-decoration:none;
  margin-right:1px;
  }
  
  body.login-body {
	  padding-top:20px;
  }
  
  a.color-blue {
	 color:#2361f9 !important;
 }
  
  #Signup .icon-back  {
	  margin-top:6px;
  }
  
  #Signup .upload-profile {
	  width:52px;
	  height:52px;
	  margin:0 auto;
  }
  
  #Signup .upload-profile img{
	  width:51px;
	  height:51px;
	  border-radius:100%;
	  
  }
  
  .txt-italic {
	  font-style:italic;
  }
#addPost .btn-rounded {
	display: inline-block;
	border-radius: 100%;
	background-color: #e8e8e8;
	padding: 12px 15px;
	border: none;
	font-size: 16px;
	outline: none;
}
#addPost .btn-rounded:hover {
	background-color: #dddddd;
}
#addPost ul.tags-list, #manageTags ul.tags-list {
	list-style-type: none;
	margin: 0px;
	padding: 0;
}
#addPost ul.tags-list li, #manageTags ul.tags-list li {
	float: left;
	text-align: center;
	margin-right: 4px;
	width: 92px;
	height: 92px;
	margin-bottom:10px;
}

#manageTags ul.tags-list li {
	margin-top:10px;	
}

#addPost ul.tags-list li img, #manageTags ul.tags-list li img {
	float: left;
	text-align: center;
	margin-right: 5px;
	width: 92px;
	height: 92px;
	margin-bottom:10px;
}
 
  
 #addPost #imageUpload {
	width: 0px;
	height: 0px;
	overflow: hidden;
}
#addPost #content-div-wrapper {
	border: 1px solid #e8e8e8;
	width: 100%;
	height: 260px;
	overflow: hidden;
	padding: 5px;
}
#addPost #content-div {
	width: 100%;
	height: 200px;
	overflow: hidden;
	outline:none;
	-moz-user-select: text;
-khtml-user-select: text;
-webkit-user-select: text;
-o-user-select: text;
}


#addPost #content-div img {
	display:block;
	width:300px;
	height:150px;
}
#addPost .tagname, #addPost .tagname-active,  #manageTags .tagname, #manageTags .tagname-active {
	width: 100%;
	height: 22px;
	background-color: #dadada;
	top: 73px;
	position: absolute;
}
#addPost .tagname-active, #addPost .tagname-active,  #manageTags .tagname-active, #manageTags .tagname-active {
	background-color: #c52128;
	color:#ffffff;
}
.pos-relative {
	position: relative;
}
#addPost .checkmark-wrapper, #manageTags .checkmark-wrapper {
	position: absolute;
	right: 0px;
}

#addPost input[type=checkbox].css-checkbox, #Signup input[type=checkbox].css-checkbox, #manageTags input[type=checkbox].css-checkbox  {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
#addPost input[type=checkbox].css-checkbox + label.css-label, #Signup input[type=checkbox].css-checkbox + label.css-label, #manageTags input[type=checkbox].css-checkbox + label.css-label   {
	padding-left: 30px;
	height: 25px;
	display: inline-block;
	line-height: 25px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 25px;
	vertical-align: middle;
	cursor: pointer;
}
#addPost input[type=checkbox].css-checkbox:checked + label.css-label, #Signup input[type=checkbox].css-checkbox:checked + label.css-label, #manageTags input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -25px;
}
#addPost label.css-label, #Signup label.css-label, #manageTags label.css-label {
	background-image: url(../img/checkmark.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#addPost h4 {
	font-weight:bold;
}
.navbar .heading {
	color:#ffffff;
	text-align:center;
	font-size:22px;
}

.navbar .back {
	color:#ffffff;
	font-size:20px;
	padding:5px;
}

.navbar .back:hover, .navbar .back:active {
	color:#333333;
}

#addPost .btn-default, #viewPost .btn-default {
	background-color:transparent;
	border:1px solid #ffffff;
	color:#ffffff;
	outline:none;
	padding:6px 3px;
	height:35px;
}
#viewPost .btn-default {
	border:1px solid #c52128;
	color:#c52128;
	font-size:12px;
}

#addPost .btn-default:hover, #addPost .btn-default:active, #addPost .btn-default:focus {
background-color:#a10010;
}
#viewPost .input-comment .btn-default:hover, #viewPost .input-comment .btn-default:active, #viewPost .input-comment .btn-default:focus {
background-color:#eeeeee;	
}

#addPost .profile-pic-addpost img, #viewPost .profile-pic-addpost img {
	width:20px;
	height:20px;
	//border-radius:100%;
}
 
#addPost .caret, #viewPost .caret  {
	border-top: 6px dashed;
	margin-left: -9px;
    margin-top: 13px;
}
#addPost .dropdown-menu, #viewPost .dropdown-menu, #About .dropdown-menu {
	min-width:290px;
	padding:6px 0;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	margin-top:10px;
}
#viewPost .dropdown-menu {
	margin-bottom:10px;
	}
#viewPost #comments .dropdown-menu, #About .dropdown-menu {
	z-index:10;
	margin-top:15px;
	margin-right:15px;
}
#About .dropdown-menu {
	left:20px;
}
#addPost .dropdown-menu>li>a, #viewPost .dropdown-menu>li>a, #About .dropdown-menu>li>a {
	font-size:18px;
	color:#2361f9;
	text-align:center;
}
#addPost .profilepic-placeholder, #viewPost .profilepic-placeholder {
	width:30px;
	height:30px;
}
#addPost .dropdown-menu .caret-dropdown, #viewPost .dropdown-menu .caret-dropdown,  #viewPost #comments .dropdown-menu .caret-dropdown, #About .dropdown-menu .caret-dropdown  {
	position:absolute;
	right:3px;
	top:-10px;
	color:#ffffff;
}
#About .dropdown-menu .caret-dropdown  {
right:0;
left:0;
margin-left:auto;
margin-right:auto;	
width:10px;
color:#cccccc;
top:-11px;
}

#viewPost .dropdown-menu .caret-dropdown {
	top:44px;
	right:14px;
}

#viewPost #comments .dropdown-menu .caret-dropdown {
	top:-11px;
	color:#e8e8e8;
}

#About .dropdown-menu .caret-dropdow {
     
}

#Wall .profilepic-placeholder img {
	width:30px;
	height:30px;
}

#addPost .hidden-textfield {
	border:none;
	background-color:transparent;
	font-size:16px;
	outline:none;
	display:block;
}

/*view post css*/

#viewPost .tag {
	border:1px solid #e8e8e8;
	border-radius:10px;
	padding:6px 8px;
	display:inline-block;
	background-color:#f8f8f8;
	color:#888888;
	font-size:10px;
	margin-bottom:4px;
}
#viewPost .border-bottom {
	border-bottom:1px solid #e8e8e8;
}
#viewPost .row-padding {
	padding:10px 0;
}
#viewPost .row-comment {
	padding:14px 8px;
}

#viewPost .comment-profile {
	border-radius:100%;
	width:28px;
	height:28px;
}
#viewPost .time {
	font-size:11px;
	color:#aaaaaa;
	font-style:italic;
}

#viewPost .input-comment {
	border-top:1px solid #d8d8d8;
	height:60px;
	width:100%;
}


#viewPost .input-box {
	border:none;
	height:30px;
	width:100%;
	text-indent:10px;
	outline:none;
}

#viewPost #postContent p {
	padding:8px 0;
}

#viewPost .comment-list {
	height:auto;
	overflow:hidden;
	
}

#viewPost .comment-more {
	color:#a7a7a7;
	padding:5px;
	padding-right:0px;
}

#viewPost .comment-more:hover, #viewPost .comment-more:active, #viewPost .comment-more:focus {
	color:#333333;
}

.bg-white {
	background-color:#ffffff;
}

#viewPost .dropup .caret {
	border-bottom:none;
}


#viewPost #comments ul {
	list-style-type:none;
	margin:0px;
	padding:0;
}

#viewPost #comments ul li {
	list-style-type:none;
	border-bottom:1px solid #e8e8e8;
	padding:6px 0;
}

.profile-box {
	background-color:#c52128;
	width:100%;
	min-height:178px;
	overflow:hidden;
	border-top:1px solid #aaaaaa;
	margin-top:1px;
}
.profile-name-profile {
	color:#ffffff;
	font-size:18px;
	text-align:center;
}
.btn-normal {
	background-color:transparent;
	border:1px solid #ffffff;
	padding:4px 20px;
	color:#ffffff;
	border-radius:5px;
}
.btn-normal:hover {
	background-color:#b80e1f;
}
#Reset .btn-normal {
	padding:3px 6px;
}

#Tagview img {
	width:102px;
	height:102px;
	border:3px solid #ffffff;
	margin-top:20px;
}

.comment-bubble-count {
  background-image: url(../img/comment_count.png);
  width: 22px;
  height: 26px;
  font-size: 10px;
  display: inline-block;
  position: relative;
  padding: 4px 0px;
  color: #888888;	
	
}

#Settings .mylist-group {
	color:#c52128;
	text-align:center;
	font-weight:bold;
}

#Settings .mylist-group:hover, #Settings .mylist-group:active, #Settings .mylist-group:focus  {
	background-color:#eeeeee;
}

@media (min-device-width:321px) {
	#addPost ul.tags-list li, #manageTags ul.tags-list li {
margin-right:10px;
}
}

#About ul  {
	list-style-type:none;
	margin:0px;
	padding:0;
	
}

#About ul li   {
	position:relative;
}
#About ul li a   {
	text-align:center;
	padding:15px 0;
	color:#b4050c;
	font-size:16px;
	font-weight:bold;
	border-bottom:1px solid #f0f0f0;
	display:block;
}
#About ul li a:hover, #About ul li a:active, #About ul li a:focus    {
	background-color:#f9f9f9;
	text-decoration:none;
}

.loading-box {
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
	position:fixed;
	z-index:1032;
	margin-top:-50px;
	display:none;
}
.loading-box .sp-spinner{
	color:#ffffff;
	font-size:36px;
	top:40%;
	position:relative;
}

#addPost .selecttags-scroll {
	height:200px;
	overflow:auto;
}
.viewPostLike, .viewPostLikeActive  {
	width:32px;
	height:32px;
	float:right;
	margin-left:4px;
    display:block;
	background-image:url(../img/viewpost-like.png);
}
.viewPostLikeActive  { 
 background-image:url(../img/viewpost-like-active.png);

}

	

 
	
	 
	 	 
	 



